{% extends 'base_front.html.twig' %}

{% block title %}Activation par mail{% endblock %}

{% block body %}

 <section class="registration-success">
        <div class="message">
            <h2>Registration Successful</h2>
            <p>An email has been sent to your registered email address. Please check your inbox to verify your email.</p>
            <p>If you don't receive the email within a few minutes, please check your spam folder as well.</p>
        </div>
    </section>

{% endblock %}