<div class="container">
    <div class="header">
        <h2 class="title">Il y a de nouveaux cadeaux dans votre liste ! : {{giftList.titre}}</h1>
    </div>
    <div class="content">
        <p>Bonjour, {{user.nom}} </p>
        <p> {{gift.name}} Il vient d'ajouter un cadeau dans votre liste. : {{giftList.titre}}<p>

        <br>
        cordialement,
        <br>
        L'equipe de GiftPlanner 

    </div>
</div>
