<div class="container">
    <div class="header">
        <h2 class="title">DÉRÉSERVATION DU CADEAUX</h1>
    </div>
    <div class="content">
        <p>Bonjour, {{user.nom}}</p>
        <p> {{gift.name}} votre cadeau vient d'être déréservé de la liste : {{giftList.titre}}<p>
        <br>

        <p>Un e-mail a été envoyé au créateur de la liste   </p>

        <br>
        Cordialement,
        <br>
        L'equipe de GiftPlanner 
        
    </div>
</div>