{% extends 'base_front.html.twig' %}
{% block title %}Modifier le cadeau{% endblock %}

{% block body %}

<section class="section-form">
    <div class="form-connexion">
        <h1>Edit Gift</h1>

        <div class="flex space-between">
            <div>
                <button>
                <a href="{{ path('front_app_gift_index') }}">back to list</a>
            </button>
            </div>
            
            <div>
                {{ include('front/gift/_delete_form.html.twig') }}
            </div>
            
        </div>
{{ include('front/gift/_form.html.twig', {'button_label': 'Update'}) }}


    </div>
</section>
{% endblock %}