<div class="container">
    <div class="header">
        <h2 class="title">Confirmation ajout de cadeaux</h1>
    </div>
    <div class="content">
        <p>Bonjour, {{gift.name}}</p>
        <p> {{gift.name}} votre cadeau viens d'etre ajouter à la liste  {{giftList.titre}}<p>
        <br>

        <p>vous avez la possibilité de le retirer au lien suivant : </p>
        <a href="{{ urlCancel }}">Annuler la réservation</a>

        <br>
        cordialement,
        <br>
        L'equipe de GiftPlanner 
        
    </div>
</div>
