{% extends 'base_front.html.twig' %}

{% block title %}Gift{% endblock %}


{% block body %}

<section class="section-form">
    <div class="form-connexion">


    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    </div>
</section>

{% endblock %}
