{% extends 'base_front.html.twig' %}

{% block title %}Enter Password{% endblock %}

{% block body %}
<section class="section-form">
    <div class="form-connexion">
        <h1>Enter Password</h1>

        {% if app.flashes('error') %}
            <div class="alert alert-danger">
                <h1>Veillez prendre contact avec votre ami qui vous a donner le lien</h1>
            </div>
        {% endif %}

        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.password) }}
            {{ form_widget(form.password, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        {{ form_end(form) }}
        </div>
</section>
{% endblock %}
