.section-show-list {

    .zone-image {
        padding-top: 20px;
    }


    .zone_date {
        width: 80%;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }

    .zone-text {
        padding: 40px;
        font-family: 'Roboto', sans-serif;

        h1 {
            font-family: 'Roboto', sans-serif;
            font-size: 40px;
        }

        h2 {
            font-family: 'Roboto', sans-serif;
            font-size: 30px;
            font-weight: 500;
        }

        h3 {
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 500;
        }
    }
}